// js dependencies 
script(src="../../vendors/jquery/dist/jquery.js")
script(src="../../vendors/angular/angular.js")
script(src="../../vendors/bootstrap/dist/js/bootstrap.js")
script(src="../../vendors/angular-resource/angular-resource.js")
script(src="../../vendors/angular-route/angular-route.js")
script(src="../../vendors/angular-cookies/angular-cookies.js")
script(src="../../vendors/underscore/underscore.js")
script(src="../../vendors/angular-classy/angular-classy.js")
script(src="../../vendors/angular-bootstrap/ui-bootstrap-tpls.js")
script(src="../../vendors/angular-ui-router/release/angular-ui-router.js")
script(src="../../vendors/bootbox/bootbox.js")
script(src="../../vendors/angular-animate/angular-animate.js")
script(src="../../js/startup/app.js")
script(src="../../js/startup/init.js")
script(src="../../js/app/config/auth.config.js")
script(src="../../js/app/config/cache.config.js")
script(src="../../js/app/config/http.config.js")
script(src="../../js/app/config/route.config.js")
script(src="../../js/app/controllers/index.ctrl.js")
script(src="../../js/app/controllers/login.ctrl.js")
script(src="../../js/app/controllers/main.ctrl.js")
script(src="../../js/app/directives/shake.js")
script(src="../../js/app/modules/cache.module.js")
script(src="../../js/app/services/user.svc.js")
// end dependenciesundefined