// js dependencies 
script(src="../../vendors/jquery/dist/jquery.js")
script(src="../../vendors/angular/angular.js")
script(src="../../vendors/bootstrap/dist/js/bootstrap.js")
script(src="../../vendors/angular-resource/angular-resource.js")
script(src="../../vendors/angular-route/angular-route.js")
script(src="../../vendors/angular-cookies/angular-cookies.js")
script(src="../../vendors/angular-classy/angular-classy.js")
script(src="../../vendors/angular-bootstrap/ui-bootstrap-tpls.js")
script(src="../../vendors/angular-ui-router/release/angular-ui-router.js")
script(src="../../vendors/angular-animate/angular-animate.js")
script(src="../../vendors/bootbox/bootbox.js")
script(src="../../vendors/lodash/dist/lodash.js")
script(src="../../vendors/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js")
script(src="../../vendors/angular-validation/dist/angular-validation.js")
script(src="../../js/startup/app.js")
script(src="../../js/startup/init.js")
script(src="../../js/app/categories/categories.controller.js")
script(src="../../js/app/categories/categories.service.js")
script(src="../../js/app/common/settings.js")
script(src="../../js/app/common/sidebar.controller.js")
script(src="../../js/app/config/auth.config.js")
script(src="../../js/app/config/cache.config.js")
script(src="../../js/app/config/http.config.js")
script(src="../../js/app/config/route.config.js")
script(src="../../js/app/controllers/dashboard.controller.js")
script(src="../../js/app/controllers/login.controller.js")
script(src="../../js/app/controllers/main.controller.js")
script(src="../../js/app/modules/cache.module.js")
script(src="../../js/app/modules/dialog.module.js")
script(src="../../js/app/products/product-create.controller.js")
script(src="../../js/app/products/products.controller.js")
script(src="../../js/app/products/products.service.js")
script(src="../../js/app/services/user.service.js")
// end dependenciesundefined