h2 Welcome!
p This is a AngularJS "KoraNN.Admin".

p Stuff that was used to make this:
    ul
        li Node.js using the framework based on Train scheme
        li Jade templates
        li AngularJS
