.products
    .row.toolbar
        .btn-group.btn-group-lg
            button.btn.btn-default(ng-click="model.refresh()") Обновить
            button.btn.btn-default(ng-click="model.create()") Создать
            .row
        div(ng-repeat='(id, category) in model.categories')
            .col-xs-4.col-sm-4.col-md-4.col-lg-4
                .thumbnail
                    img.img-responsive(src='img/thumb.jpg', alt='')
                    .caption
                        p: | id - {{ category._id }}
                        h3: | {{ category.name }}
                        p: | Описание: {{ category.description }}
                        .btn-group.btn-group-lg
                            button.btn.btn-default(ng-click="model.edit(category)") Редактировать
                            button.btn.btn-default(ng-click="model.remove(category)") Удалить