.products
    .row.toolbar
        .btn-group.btn-group-lg
            button.btn.btn-default(ng-click="model.refresh()") Обновить
            button.btn.btn-default(ng-click="model.create()") Создать
            .row
        //.col-md-11
        div(ng-repeat='product in model.products')
            .col-xs-4.col-sm-4.col-md-4.col-lg-4
                .thumbnail
                    img.img-responsive(src='img/thumb.jpg', alt='')
                    .caption
                        p: | {{ product._id }}
                        h3: | Наименование: {{ product.name }}
                        p: | Описание: {{ product.desc }}
                        p: | Категория: {{ product.category }}
                        p: | Цена: {{ product.price }}
                        .btn-group.btn-group-lg
                            button.btn.btn-default(ng-click="model.edit(product)") Редактировать
                            button.btn.btn-default(ng-click="model.remove(product)") Удалить
