doctype html
html(ng-app="korann.admin")
    head
        meta(charset="utf-8")
        title Angular Express Train

        include ../internal/css

        base(href="/")

    body(ng-controller="MainController")
        .header(ng-include="'/views/shared/header.html'")

        .page-content(ui-view)

        include ../internal/references