doctype html
html(ng-app="korann.admin")
    head
        meta(charset="utf-8")
        title Angular Express Train

        // injector:css
        script(src="/public/vendors/bootstrap/dist/css/bootstrap.css")
        script(src="/public/vendors/font-awesome/css/font-awesome.css")
        script(src="/public/css/custom.css")
        script(src="/public/css/theme.css")
        // endinjector

        base(href="/")

    body(ng-controller="MainController")
        .header(ng-include="'/views/shared/header.html'")

        .page-content(ui-view)

        // injector:js
        script(src="/public/vendors/jquery/dist/jquery.js")
        script(src="/public/vendors/angular/angular.js")
        script(src="/public/vendors/bootstrap/dist/js/bootstrap.js")
        script(src="/public/vendors/angular-resource/angular-resource.js")
        script(src="/public/vendors/angular-route/angular-route.js")
        script(src="/public/vendors/angular-cookies/angular-cookies.js")
        script(src="/public/vendors/angular-classy/angular-classy.js")
        script(src="/public/vendors/angular-bootstrap/ui-bootstrap-tpls.js")
        script(src="/public/vendors/angular-ui-router/release/angular-ui-router.js")
        script(src="/public/vendors/angular-animate/angular-animate.js")
        script(src="/public/vendors/bootbox/bootbox.js")
        script(src="/public/vendors/lodash/dist/lodash.compat.js")
        script(src="/public/vendors/angular-validation/dist/angular-validation.js")
        script(src="/public/js/startup/app.js")
        script(src="/public/js/startup/init.js")
        script(src="/public/js/app/categories/categories.service.js")
        script(src="/public/js/app/categories/category-details.controller.js")
        script(src="/public/js/app/categories/category-list.controller.js")
        script(src="/public/js/app/common/settings.js")
        script(src="/public/js/app/common/sidebar.controller.js")
        script(src="/public/js/app/config/auth.config.js")
        script(src="/public/js/app/config/cache.config.js")
        script(src="/public/js/app/config/http.config.js")
        script(src="/public/js/app/config/route.config.js")
        script(src="/public/js/app/controllers/dashboard.controller.js")
        script(src="/public/js/app/controllers/login.controller.js")
        script(src="/public/js/app/controllers/main.controller.js")
        script(src="/public/js/app/modules/cache.module.js")
        script(src="/public/js/app/modules/dialog.module.js")
        script(src="/public/js/app/products/product-details.controller.js")
        script(src="/public/js/app/products/product-list.controller.js")
        script(src="/public/js/app/products/products.service.js")
        script(src="/public/js/app/services/user.service.js")
        // endinjector