.row
    .col-md-4.col-md-offset-4
        .login-wrapper
            .box
                .content-wrap
                    h6 Sign In
                    form(name="loginForm", ng-submit="login()")
                        input.form-control(type='text', ng-model="model.login", required, placeholder='Login')
                        input.form-control(type='password', ng-model="model.password", required, placeholder='Password')
                        .form-group: label.control-label.red(ng-show="model.error") {{model.error}}
                        .action: button.btn.btn-primary.signup(type="submit", ng-disabled="loginForm.$invalid") Login