doctype html
html(ng-app="korann.admin")
    head
        meta(charset="utf-8")
        title Angular Express Train

        include css

        link(rel='stylesheet', href='/compiled/css/app.css')
        base(href="/")

body(ng-controller="MainCtrl")
    .header
        .container
            .row
                .col-md-4
                    .logo
                        h1
                            a(href='index.html') Korann.Admin
                .col-md-4
                    .row
                        .col-lg-10
                            .input-group.form
                                input.form-control(type='text', placeholder='Search...')
                                span.input-group-btn
                                    button.btn.btn-primary(type='button') Search
                .col-md-1.pull-right(ng-if="!user.username")
                    .row
                        .col-lg-8
                            .input-group.form
                                .action
                                    a.btn.btn-primary.signup(href="/login") Login
                .col-md-2.pull-right(ng-if="user.username")
                    .navbar.navbar-inverse(role='banner')
                        nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-right(role='navigation')
                            ul.nav.navbar-nav
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                                        | Hello, {{user.username}}
                                        b.caret
                                    ul.dropdown-menu.animated.fadeInUp(role="menu")
                                        li
                                            a Profile
                                        li
                                            a(href='login.html', ng-click="logout()") Logout
    .page-content.container(ng-view)

    include references

    script(src="/compiled/js/app.js")