doctype html
html(ng-app="korann.admin")
    head
        meta(charset="utf-8")
        title Angular Express Train
        link(rel='stylesheet', href='/dist/korann.css')
        base(href="/")
body(ng-controller="MainCtrl")
    div.container
        div.navbar.navbar-inverse.nav-justified
            div.navbar-inner
                a.brand.brand-korann(ng-href='/') KoraNN.Admin
                ul.nav.pull-right.user-panel
                    li(ng-if="!user.username")
                        a.login-btn(ng-href="/login") Login
                    li(ng-if="user.username")
                        ul.inline
                            li
                                label Hello, {{user.username}}
                            li
                                button.btn.btn-default.logout-btn(ng-click="logout()") Log Out

    div.container(ng-view)

    script(src="/dist/angular.js")
    script(src="/dist/references.js")
    script(src="/dist/startup.js")
    script(src="/dist/korann.js")