doctype html
html(ng-app="korann.admin")
    head
        meta(charset="utf-8")
        title Angular Express Train
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        base(href="/")
body
    div.container
        div.navbar.navbar-inverse
            div.navbar-inner
                a.brand(ng-href='/') Angular Express Train
                ul.nav
                    li
                        a(ng-href="/todos", ng-show="user.username") My Todos
                ul.nav.pull-right
                    li(ng-hide="user.username")
                        a(ng-href="/login") Login
                    li.dropdown(ng-show="user.username")
                        a.dropdown-toggle(href="#", data-toggle="dropdown") Hello, {{user.username}}
                            b.caret
                        ul.dropdown-menu
                            li
                                a(ng-click="logout()") Log Out

    div.container(ng-view)

    script(src="/js/references/jquery/dist/jquery.js")
    script(src="/js/references/bootstrap/dist/js/bootstrap.js")
    script(src="/js/references/angular/angular.js")
    script(src="/js/references/angular-resource/angular-resource.js")
    script(src="/js/references/angular-route/angular-route.js")
    script(src="/js/app/app.js")
    script(src="/js/app/config/init.config.js")
    script(src="/js/app/config/interceptor.config.js")
    script(src="/js/app/config/route.config.js")
    script(src="/js/app/services/services.user.js")
    script(src="/js/app/controllers/controllers.index.js")
    script(src="/js/app/controllers/controllers.login.js")
