div.col-md-2
    div.sidebar.content-box(style='display: block;')
        ul.nav
            li.current
                a()
                    i.glyphicon.glyphicon-home
                    | Dashboard
            li
                a()
                    i.glyphicon.glyphicon-calendar
                    | Calendar
            li
                a()
                    i.glyphicon.glyphicon-stats
                    | Statistics (Charts)
            li
                a()
                    i.glyphicon.glyphicon-list
                    | Tables
            li
                a()
                    i.glyphicon.glyphicon-record
                    | Buttons
            li
                a()
                    i.glyphicon.glyphicon-pencil
                    | Editors
            li
                a()
                    i.glyphicon.glyphicon-tasks
                    | Forms