.sidebar.content-box(style='display: block;')
    ul.nav
        li
            a(ui-sref='dashboard.panel')
                i.glyphicon.glyphicon-home
                | Панель управления
        li
            a(ui-sref='dashboard.products')
                i.glyphicon.glyphicon-list
                | Продукты