.sidebar.content-box(style='display: block;')
    ul.nav
        li.current
            a(href='index.html')
                i.glyphicon.glyphicon-home
                | Панель управления
        li
            a(href='calendar.html')
                i.glyphicon.glyphicon-calendar
                | Calendar
        li
            a(href='stats.html')
                i.glyphicon.glyphicon-stats
                | Statistics (Charts)
        li
            a(href='tables.html')
                i.glyphicon.glyphicon-list
                | Tables
        li
            a(href='buttons.html')
                i.glyphicon.glyphicon-record
                | Buttons
        li
            a(href='editors.html')
                i.glyphicon.glyphicon-pencil
                | Editors
        li
            a(href='forms.html')
                i.glyphicon.glyphicon-tasks
                | Forms